h1 {
  color: teal;
  font-family: cursive;
}


.puente,
.stone,
.town {
  height: 200px;
}

li {
  list-style: square;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 18px;
  font-family: sans-serif;
  font-style: italic;
  color: teal;
}
